@inherits LayoutComponentBase

<PageTitle>Budget Estimates Management System</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">         
            <AuthorizeView>
	            <Authorized>		            
                    <div class="px-3">@context.User.Identity.Name </div>
                    <span class="oi oi-person"></span>
		        </Authorized>
            </AuthorizeView>
             <AuthorizeView Roles="Administrator">
                    <span class="px-3 oi oi-command"></span>
            </AuthorizeView>
              <a class="nav-link px-3" href="/help">Help</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
