<div class="card" style="width: 18rem;">
    <div class="card-body">
        <div class="card-header">
    <h5 class="card-title">Notifications</h5>
  </div>
    
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
  </div>
</div>
@code {

}
