@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject IDbData _db;


<EditForm EditContext="EditContext"  OnValidSubmit="HandleValidSubmit">
<div class="modal fade" id="newUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Budget Entry</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
 
     <DataAnnotationsValidator />
    
  
    <div class="form-floating">
           <InputText  @bind-Value="user.userName" class="form-control" placeholder="GOCD User Name">               
                </InputText>
        <label for="label" >
            GOCD Username
        </label>
    </div>    

        <div class="form-floating" style="padding-bottom:5px">
           <InputSelect id="userRole"  class="form-select"
                       @bind-Value="user.userRole">
            @if (roles is null)
                    {
                        <option selected>Loading...</option>
                    }
                else 
                    {
                @foreach (var item in roles)
                    {
                <option value=@item.Name>@item.Description</option>
                    }}
                </InputSelect>
        <label for="userRole" >
           User Role
        </label>

    </div> 

   <div style="color: red">
        @saveError
      </div>
         <div style="color: green">
        @saveSuccess
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
  </div>
</EditForm>

@code {
    [Parameter]
    public string userId{ get; set; }
    private EditContext EditContext;

    private UserModel user = new UserModel();
    private List<ListItemModel> roles;

    private string saveError;
    private string saveSuccess;

    protected override async Task OnInitializedAsync()
    {
        //Initial Edit Context
        EditContext = new EditContext(user);
        roles = await _db.GetUserRoles();
        user.userRole = 2;
    }

    private async void HandleValidSubmit()
    {
        
    }

}
