@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject IDbData _db;
@attribute [Authorize(Roles = "Administrator")]
@inject IJSRuntime JS


<div class="modal fade" id="editUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
   <EditForm EditContext="EditContext"  OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
 
     <DataAnnotationsValidator />
    
  
    <div class="form-floating">
           <InputText  @bind-Value="user.userName" class="form-control" placeholder="GOCD User Name" disabled="true">               
                </InputText>
        <label for="label" >
            GOCD Username
        </label>
    </div>    

        <div class="form-floating" style="padding-bottom:5px">
           <InputSelect id="userRole"  class="form-select"
                       @bind-Value="user.userRole">
            @if (roles is null)
                    {
                        <option selected>Loading...</option>
                    }
                else 
                    {
                @foreach (var item in roles)
                    {
                <option value=@item.Name>@item.Description</option>
                    }}
                </InputSelect>
        <label for="userRole" >
           User Role
        </label>

    </div> 

   <div style="color: red">
        @saveError
      </div>
         <div style="color: green">
        @saveSuccess
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
    </EditForm>
  </div>
  </div>


@code {
    [Parameter]
    public UserModel parUser { get; set; }
    [Parameter]
    public EventCallback OnSaveUser { get; set; }


    private EditContext EditContext;

    private UserModel user = new UserModel();
    private List<ListItemModel> roles;

    private string saveError;
    private string saveSuccess;

    protected override async Task OnInitializedAsync()
    {
        //Initial Edit Context
        EditContext = new EditContext(user);       
        EditContext.OnFieldChanged += EditContext_OnFieldChanged;
        roles = await _db.GetUserRoles();
    }

    protected override async void OnParametersSet()
    {
        if (parUser is not null)
        {
            Reflection.CopyPropertyValues(parUser, user);
            //user.userName = parUser.userName;
            //user.userRole = parUser.userRole;
             saveSuccess = "";
            saveError = "";
        }

        base.StateHasChanged();
    }

    private async void  HandleValidSubmit()
    {     
        saveError = "";
        saveSuccess = "";
        try
        {
            int affectedRows=  await _db.UpdateUser(user);      
            //save successfully.  Reset form
            if (affectedRows==0)
            {
                saveError = "Something happened.  Record was not saved";
                base.StateHasChanged();
            } else
            {
                saveSuccess = "Record Successfully Saved.";
                //run the parent procedure
                await OnSaveUser.InvokeAsync();               
            }
           
        }
        catch(Exception e)
        {
            saveError = e.Message;
            base.StateHasChanged();
        }
        
    }

    private  void  HandleInvalidSubmit()
    {     
        saveSuccess = "";
        saveError = "Unable to save changes.";
        base.StateHasChanged();                
    }
    private void EditContext_OnFieldChanged(object sender, FieldChangedEventArgs e)
    {
        //clear any save messages because we entering new stull
        saveSuccess = "";
        saveError = "";
    }

}
