@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject IRecEstimateData _rdb;


@if (account is null)
{

} else
{
	<EditForm EditContext="EditContext"  OnValidSubmit="HandleValidSubmit">
	<div class="row g-2">
		<div class="col-sm-1">
               <InputCheckbox 
                       @bind-Value="account.is_by_law" >               
                </InputCheckbox>
				<button type="button" class="btn @(String.IsNullOrWhiteSpace(account.comment) ? "btn-outline-info":"btn-outline") btn-sm" ><span class="oi oi-comment-square"></span></button>
		</div>
		<div class="col-3">
               <InputText  class="form-control"
                       @bind-Value="account.label" >               
                </InputText>
		</div>
		<div class="col-1">
               <InputNumber  class="form-control"
                       @bind-Value="account.quantity" >               
                </InputNumber>
		</div>
		<div class="col-md">
           	<div class="input-group mb-2">
  <span class="input-group-text">$</span>
  <InputNumber   class="form-control" disabled="true"
                       @bind-Value="account.year2_amount" >               
                </InputNumber>
</div>
        </div>
		<div class="col-md">
          	<div class="input-group mb-2">
  <span class="input-group-text">$</span>
  <InputNumber   class="form-control"
                       @bind-Value="account.year1_amount" >               
                </InputNumber>
</div>
        </div>
		<div class="col-md">

			<div class="input-group mb-2">
  <span class="input-group-text">$</span>
  <InputNumber   class="form-control"
                       @bind-Value="account.year2_amount" >               
                </InputNumber>
</div>
           
        </div>
		 <div class="col-md">
           	<div class="input-group mb-2">
  <span class="input-group-text">$</span>
  <InputNumber   class="form-control"
                       @bind-Value="account.year3_amount" >               
                </InputNumber>
</div>
        </div>
		<div class="col-1">			

			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			  <div class="btn-group me-2" role="group" aria-label="First group">
				<button type="button" class="btn @(account.flagged ? "btn-warning":"btn-outline-dark") btn-sm" @onclick="()=>{ account.flagged=!account.flagged;}"><span class="oi oi-flag"></span></button>
			  </div>
				 <div class="dropdown">
			  <button class="btn btn-outline-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="oi oi-delete"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li><a class="dropdown-item" href="#">Delete</a></li>
			  </ul>
			</div>
			</div>			 
			
		</div>
	</div>
	<div class="row g-2">
			<div class="col-6">        
				<div class="input-group">
  <span class="input-group-text">Comment</span>
  <InputText  @bind-Value="account.comment" class="form-control">               
                </InputText>

</div>
           </div>
             	<div class="col-6">
          <div class="input-group">
  <span class="input-group-text">Flagged Comment</span>
  <InputText  @bind-Value="account.flagged_comment" class="form-control">               
                </InputText>

</div>
           </div>
		</div>
	</EditForm>	
}

@code {
	[Parameter]
	public BudgetEstimatesModel account { get; set; }

	private EditContext EditContext;
	protected override async Task OnInitializedAsync()
	{
		//Initial Edit Context
		EditContext = new EditContext(account);
		EditContext.OnFieldChanged += EditContext_OnFieldChanged;
	}

	private void EditContext_OnFieldChanged(object sender, FieldChangedEventArgs e)
	{
		//TODO: if field changes save changes
	}

	private async void HandleValidSubmit()
	{
		//TODO: update field
	}

}
