@page "/fetchdata"

<PageTitle>Test Roles</PageTitle>

@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject IDbData _db;

<h1>Test Roles</h1>

<p>Test Data from database</p>

@if (roles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in roles)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>@role.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<RoleModel> roles;

    protected override async Task OnInitializedAsync()
    {
        roles = await _db.GetRoles();
    }
}
