@page "/"

<PageTitle>Budget Estimates Management System</PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>DashBoard</h1>
		<h2>Hi @context.User.Identity.Name</h2>

		<p> More cool stuff coming soon</p>
	</Authorized>
	<NotAuthorized>
		<img src="splash.png" alt="splash"/>
	</NotAuthorized>

</AuthorizeView>

@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationState { get; set; }

}