@page "/"
@using Budget_Estimates_Management_System.Pages.Dashboard
@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@inject IDbData _db;

<PageTitle>Budget Estimates Management System - Dashboard </PageTitle>

<AuthorizeView>
	<Authorized>
		<h1>Hi @context.User.Identity.Name</h1>
        @if (year is not null)
        {
        <h3>Current Budget Period : @year.displayYear</h3>
        }
		<div class="container">
          <div class="row">
            <div class="col-6">
                 @if (year is not null)
                    {
                          <MyPrograms year="@year.year"></MyPrograms>
                    }
            </div>
            <div class="col-4">
             <Notifications></Notifications>
            </div>
          </div>
          <br>
            @if (@context.User.IsInRole("Administrator"))
            {
                <div class="row">
                    <div class="col-4">
                        Programs for approval
                    </div>
                    <div class="col-4">
                        Programs Pending Submission
                    </div>                    
                </div>
            }
        </div>
	</Authorized>
	<NotAuthorized>
		<img src="splash.png" alt="splash"/>
	</NotAuthorized>

</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private ProcessingYearModel year;    

    protected override async Task OnInitializedAsync()
    {        
        year =  await _db.GetCurrentProcessingYear();
    }

}